.profile {
    padding: 0.8em;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.profile:hover {
    background-color: var(--focus);
}

.picture {
    max-width: 100%;
    max-height: calc(100vh - 7em);
    margin: 0 auto;
}

.description {
    padding: 0.8em;
}
