@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(profile: String, pictureId: String, description: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(s"$profile's Foto", "foto") {
    <div class="content">
        <a class="profile" href="/profile/@profile">@profile</a>
        <img class="picture" src="/resources/@profile/@pictureId" alt="Bild">
        <div class="description">
            @description
        </div>
    </div>
}
